/* CSS Document */
body
{
margin:50px 0px 50px 0px;
padding:0px;
background-color:#000000;
}

a
{
outline:none;
}

.white_bg
{
background-color:#ffffff;
}

.hdr_bg
{
background-image:url(../images/hdr_bg_05.jpg);
height:178px;
background-repeat:repeat-x;
}

.bdy_bg
{
background-color:#f4eddb;
}

.welcome_bg
{
background-image:url(../images/welcome_bg_23.jpg);
width:662px;
height:171px;
}

.scroll_img_bg
{
background-color:#292929;
}

.heading1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#f68b04;
font-weight:normal;
text-decoration:none;
}

.text1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#4f4e4d;
line-height:19px;
font-weight:normal;
text-decoration:none;
text-align:justify;
}

.ftr_bg
{
background-image:url(../images/ftr_bg_51.jpg);
height:70px;
background-repeat:repeat-x;
}

.ftr_text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#efbbbb;
padding-right:10px;
font-weight:normal;
text-decoration:none;
}

.ftr_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#ffb400;
padding-right:18px;
line-height:17px;
font-weight:normal;
text-decoration:none;
}

a.ftr_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#ffb400;
padding-right:18px;
line-height:17px;
font-weight:normal;
text-decoration:underline;
}

a.ftr_links:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#ffb400;
padding-right:18px;
line-height:17px;
font-weight:normal;
text-decoration:none;
}
